@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}
.wrap {
  position: relative;
  z-index: 1;
}
.wrap .bg {
  height: 100vh;
}
.wrap .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap .menu {
  width: 100%;
  max-width: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.wrap .menu .menu1 {
  display: flex;
  width: 600px;
}
.wrap .menu .menu1 li {
  line-height: 60px;
  text-align: center;
  width: calc(100% / 6);
}

.wrap .menu .menu1 li a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
.wrap .menu .sub {
  width: 800px;
}
.wrap .menu .sub ul {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
}
.wrap .menu .sub ul li {
  padding: 10px 30px;
  line-height: 50px;
}
.wrap .menu .sub ul li:nth-of-type(5) {
  display: flex;
  flex-direction: column;
}
.wrap .menu .sub li a {
  color: #fff;
  font-size: 14px;
}

.wrap .menu .logo {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  line-height: 70px;
}
.wrap .menu .logo {
  width: 102px;
  margin: 0 auto;
}
.wrap .kr {
  display: flex;
  position: relative;
}
.wrap .kr li a {
  font-size: 16px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  padding: 10px;
}
.wrap .kr li img {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}
.swiper-slide:first-child {
  background: url(../images/main/kv_01.jpg);
}
.swiper-slide:nth-child(2) {
  background: url(../images/main/kv_02.jpg);
}
.swiper-slide:nth-child(3) {
  background: url(../images/main/kv_03.jpg);
}
.swiper-slide:nth-child(4) {
  background: url(../images/main/kv_04.jpg);
}
.swiper-slide:nth-child(5) {
  background: url(../images/main/kv_05.jpg);
}
.swiper-slide:nth-child(6) {
  background: url(../images/main/kv_06.png);
}
.swiper-slide:nth-child(7) {
  background: url(../images/main/kv_07.jpg);
}
.swiper-slide:nth-child(8) {
  background: url(../images/main/kv_08.jpg);
}
